.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cicleActive {
  fill: orange;
}

.button {
    background: linear-gradient(45deg, #337ab7, transparent);
    border: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    /* font-size: 19px; */
    margin: 15px 35px;
    padding: 15px 40px;
    min-width: 150px;
    border-radius: 20px;
    /* min-height: 150px; */
    color: #fff;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
	display: table-cell;
}

.button .round {
  border-radius: 10px;

}

.blue {
  background: #0943c5
}

.green {
  background: #01a22b
}

.booktitle {
}

.subtitle {
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
}

.card_ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.card_content {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all .3s;
}

.index_card {
	padding: 20px;
	margin: 30px auto;
    width: 250px;
    height: 250px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
}

.book_card {
	padding: 20px;
    margin: 30px auto;
    width: 250px;
	height: 150px;
    border-radius: 15px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.index_card_title {
	height: 67px;
    background: coral;
    padding: 16px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    border: none;
}

.card_label {
	font-size: 22px;
    width: 250px;
    padding: 26px;
    /* text-align: center; */
    display: table-cell;
    vertical-align: middle;	
}

.option {
    margin: 15px 35px;
    padding: 15px 40px;
}

.button {
    background: linear-gradient(45deg, #337ab7, transparent);
    border: none;
    text-align: center;
    font-family: 'Open Sans' , 'Quicksand', sans-serif;
    font-weight: 700;
    /* font-size: 19px; */
    padding: 15px 20px;
    /* min-width: 150px; */
    border-radius: 20px;
    /* min-height: 150px; */
    color: #fff;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
	display: table-cell;
}

.button .round {
  border-radius: 10px;

}

.grey {
  background: #737373;
}

.blue {
  background: #0943c5
}

.red{
  background: #c51a09;
}


.green {
  background: #01a22b
}

.word {
  text-align: center;
  font-size: 135px;
  margin: 50px;
  display: block;
}

.card_ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}


/* dict */
.dict_card {
  text-align: left;
  padding: 25px;
}

.dict_title_block {
  margin-bottom: 40px;
}

.dict_content {
  margin-left: 40px;
}

.dict_title {
  font-size: 48px;
}